<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/dash.css">
    <link rel='stylesheet' href="/css/card1.css">
    <link rel="icon" type="image/svg" href="/assets/Logonew.png">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
  </head>
  <body>

  
    <!--mobile navigation bar start-->
    <div class="mobile_nav">
      <div class="nav_bar">
        <img src="/assets/1.webp" class="mobile_profile_image" alt="">
        <a href="/" class="a" style="background: transparent; text-decoration: none;"><h1>RoziRoti</h1></a>
        <i class="fa fa-bars nav_btn"></i>
      </div>
      <div class="mobile_nav_items">
        <a href="/"><i class="fas fa-home"></i><span>Home</span></a>
        <a href="/search"><i class="fas fa-search"></i><span>Search</span></a>
        <a href="/addjob"><i class="fas fa-plus"></i><span>Add</span></a>
        <a href="/#contact"><i class="fas fa-id-card-alt"></i><span>Contact Us</span></a>
        <a href="/delete" class="contact"><i class="fas fa-trash"></i><span>Delete Job</span></a>
        <a href="/#about"><i class="fas fa-info-circle"></i><span>About</span></a>
        <a href="#"><i class="fas fa-sign-out-alt"></i><span>Logout</span></a>

      </div>
    </div>
    <!--mobile navigation bar end-->
    <!--sidebar start-->
    <div class="sidebar">
      <div class="profile_info">
        <a href="/" class="a" style="background: transparent;"><h1>RoziRoti</h1></a>
        <img src="/assets/1.webp" class="profile_image" alt="profile_image">
        
        <h4><%=currentUser.username%></h4>
      </div>
      <a href="/" class="home"><i class="fas fa-home"></i><span>Home</span></a>
      <a href="/search" class="search"><i class="fas fa-search"></i><span>Search Jobs</span></a>
      <a href="/listnew" class="add"><i class="fas fa-plus"></i><span>Add Job</span></a>
      <a href="/#contact" class="contact"><i class="fas fa-id-card-alt"></i><span>Contact Us</span></a>
      <a href="/delete" class="contact"><i class="fas fa-trash"></i><span>Delete Job</span></a>
      <a href="/about" class="about"><i class="fas fa-info-circle"></i><span>About</span></a>
      <a href="/logout" class=" logout"><i class="fas fa-sign-out-alt"></i><span>Logout</span></a>
      <p> Copyright © 2020 RoziRoti.</p>
    </div>
    <!--sidebar end-->

    <div class="content">
        <section id="loginss">

            <div class="container">
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_jhgfgv8n.json"  background="transparent"  speed="0.5"  style="width: 500px; height: 200px; margin-left: 28%;margin-top: 15%;"  loop  autoplay></lottie-player>
                <h1 style="margin-left: 30%;margin-top: 2%;">Your Job has been successfully deleted!!</h1>
            </div>
      </section>
    </div>
    
      
   


  </body>
</html>
              