body{
  margin: 0;
  padding: 0;
  font-family: "open sans", sans-serif;
}

.lj{
  text-align: center;
  color:#ff5e3a;
  text-transform: uppercase;
  margin-top: 3%;
  font-weight: 700;
}
.sidebar{
  z-index: 1;
  top: 0;
  background: #272343;
  margin-top: 0px;
  padding-top: 0px;
  position: fixed;
  left: 0;
  width: 250px;
  height: calc(100%);
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
}

.profile_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar .profile_info .profile_image{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidebar .profile_info h4{
  color: #ccc;
  margin-top: 5px;
  margin-bottom: 2px;
}

.sidebar p{
  color: white;
  font-family: 'open sans', sans-serif;
  font-size: 11px;
  text-align: center;
  margin-bottom: 10px;
}

.sidebar a{
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sidebar a:hover{
  background: #ea5455;
}

.sidebar i{
  padding-right: 10px;
}

label #sidebar_btn{
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 300px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}

label #sidebar_btn:hover{
  color: #19B3D3;
}


 .a h1{
    text-transform: uppercase;
    font-family: open Arial, Helvetica, sans-serif;
    margin-left: 0px;
    color: white;
}

.content{
  width: (100% - 250px);
  margin-top: 0px;
  padding: 20px;
  margin-left: 250px;
  background: #e3f6f5;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  transition: 0.5s;
}



.mobile_nav{
  display: none;
}

.content .card p{
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  opacity: 0.8;
}

/* Responsive CSS */

@media screen and (max-width: 700px){
  .sidebar{
    display: none;
  }

  #sidebar_btn{
    display: none;
  }

  .content{
    margin-left: 0;
    margin-top: 0;
    padding: 10px 20px;
    transition: 0s;
   
  }

  #check:checked ~ .content{
    margin-left: 0;
  }

  .mobile_nav{
    display: block;
    width: calc(100% - 0%);
  }

  .nav_bar{
    background: #272343;
    width: (100% - 0px);
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .nav_bar .mobile_profile_image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .nav_bar .nav_btn{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
  }

  .nav_bar .nav_btn:hover{
    color: #19B3D3;
  }

  .mobile_nav_items{
    background: #272343;
    display: none;
  }

  .mobile_nav_items a{
    color: #fff;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }

  .mobile_nav_items a:hover{
    background: #ea5455;
  }

  .mobile_nav_items i{
    padding-right: 10px;
  }

  .active{
    display: block;
  }
}
   

/*custom scroll bar */
body::-webkit-scrollbar {
  background-color: #a5d1d1;
  width: 10px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
  background-color:none;
}
/* scrollbar itself */
body::-webkit-scrollbar-thumb {
background: #ea5455;
transition: 12s;
}

body::-webkit-scrollbar-thumb:hover {
  background:#272343; 
border: 1px;
transition: 2.5s;
}
/*custom scroll bar ends here  */
