@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: #393b44;
	font-size:23px;
	margin-top: 5px;
	text-align: justify;
	line-height: 3.5rem;
	font-weight: 500;
	letter-spacing: .05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 600;
	color: #272343;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}
.section-title span {
	color: #b6baca;
}
.loader-container{
    width: 100%;
    height: 100%;
    background-color:rgb(245, 243, 243);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader{
    width: 50px;
    height: 50px;
    border: 5px solid;
    color: #3498db;
    border-radius: 50%;
    border-top-color: transparent;
    animation: loader 1.5s ease infinite;
}

@keyframes loader{
    25%{
        color: #2ecc71;
    }
    50%{
        color: #f1c40f;
    }
    75%{
        color: #e74c3c;
    }
    to{
        transform: rotate(360deg);
    }
}
.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background: #ea5455;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 50px;
	margin-left: 10px;
	cursor: pointer;
	box-shadow: inset 0 0 0 0 #ea5455;
	transition: ease-out .6s;
}
.cta:hover {
	color: white;
	box-shadow: inset 0 100px 0 0 #272343;
	transition: ease-out .6s;
}
.brand h1  {
	margin-top: -5px;
	color:white;
	font-size:40px;
	font-family: open Arial, Helvetica, sans-serif;
}


/* Header section */

#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	transition: .3s ease background-color;
}
#header .header ::after {
	background-color: #e3f6f5;
	opacity: 0.3;
}

#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 120px;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: #bae8e8;
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: #bae8e8;
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: #f8bd7f;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: .3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* Hero Section */
#hero {
	background-image: url(/assets/hero-bg.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #272343;
	opacity: .5;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1 {
	display: block;
	width: fit-content;
	font-size: 50px;
	position: relative;
	color: white;

}

.work{
	margin-left: 5px;
	display: block;
	font-size: 30px;
	width: fit-content;
	position: relative;
	color: #f8bd7f;
}


/* End Hero Section */

/* Services Section */
#services .services {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
	transition: 0.5s;
}
#services .service-top {
	max-width: 1000px;
	margin: 0 auto;
}

#services .service-item p {
	color: white;
	text-align: justify;
}

.link1{
	outline: #272343;
}

.link1:hover{
	color: #ea5455;
}
/* End Services Section */


/* About Section */

#about{
	background-image: url(/assets/about.png);
	background-size: cover;
	margin-left: 150px;
	margin-right: 150px;
	background-repeat: no-repeat;
    background-position: 50% 50%;
	background-position: top center;
	position: relative;
	transition: 0.7s;
	z-index: 1;
}
#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1350px;
	margin: 0 auto;
	padding: 100px 20px;
}

#about:hover{
	background-image: url(/assets/about1.png);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 5% 0%;
	transition: 0.7s;
}


#about .col-right {
	width: 100%;
}

#about .col-right p {
	color: white;
	font-size: 25px;
	padding-top : 3px;
	padding-left: 155px;
	padding-right: 155px;
	text-align: center;
}
#about .col-right h1{
	color: whitesmoke;
}
/* End About Section */

/* contact Section */
#contact .contact {
	flex-direction: column;
	max-width: 1920px;
	transition: 0.5s;
	background: #e3f6f5;
	margin-top: 180px;
}


#contact .contact-items {
	width: 1056px;
	margin-left:10px;

	height: 400px;
}


.conleft{
	margin-top: 30px;
	position: absolute;
	left: 150px;
}

.conleft form{
	margin-left: 30px;
}
.col input{
	width: 245px;
	height: 30px;
	padding: 10px;
	outline: none;
	border: solid 1px #bae8e8;
	color: #272343;
	font-family: 'Open Sans', sans-serif;
}
#uemail{
	margin-left: 30px;
}

.contxt textarea{
	margin-top: 30px;
	padding: 20px;
	width: 520px;
	outline: none;
	border: solid 1px #bae8e8;
	font-family: 'Open Sans', sans-serif;
}

.conbtn{
	box-shadow: inset 0 90px 0 0 #ea5455;
	transition: ease-out .2s;
	border: none;
	color: #e3f6f5;
	margin-top: 30px;
	padding: 10px;
	width:150px;
	outline: none;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}

.conbtn:hover{
	box-shadow: inset 0 90px 0 0 #272343;
	transition: ease-out .2s;;
	border: none;
	cursor: pointer;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	
}

.conright{
	margin-left:570px;
	font-family: 'Open Sans', sans-serif;
	margin-top: 20px;
}

.conright h3{
	font-size: 30px;
	color: #272343;
}
.conright p{
	margin-top: 30px;
	font-size: 20px;
	color: #272343;
	font-weight: 500;
	line-height: 25px;
}

.conright ul{
	margin-top: 20px;
	font-size: 15px;
	margin-left: 20px;
	color: #272343;
	font-weight: 500;
}

.conright ul li{
	line-height: 40px;
}



/*End contact Section */

/* Footer */
#footer {
	background:#272343;
	padding: 0;
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: .1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-top: 20px;
	margin-bottom: 10px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: .3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer */
/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */

/*custom scroll bar */
body::-webkit-scrollbar {
    background-color: #a5d1d1;
    width: 10px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
    background-color:none;
}
/* scrollbar itself */
body::-webkit-scrollbar-thumb {
	background: #ea5455;
	transition: 12s;
}

body::-webkit-scrollbar-thumb:hover {
    background:#272343; 
	border: 1px;
	transition: 2.5s;
}
/*custom scroll bar ends here  */
